.backgroundHome{
    background-color: #222;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.cl-1{fill:#8bf62a;}.cl-2{fill:#61de20;}.cl-3{fill:#61de20;}.cl-4{fill:#2d890d;}.cl-5{fill:#439e17;}.cl-6{fill:#318d0e;}.cl-7{fill:#2d890d;}.cl-8{fill:#2c880c;}.cl-9{fill:#2b870b;}.cl-10{fill:#308c0e;}.cl-11{fill:#2e890d;}.cl-12{fill:#3a9b15;}.cl-13{fill:#318d12;}.cl-14{fill:#308817;}

.svgGreenHole{
    width: 35em;
    animation-name: greenHole;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
}

@keyframes greenHole {
    0%{
        transform: scale(0);
        opacity: .5;    
    }
    100%{
        transform: scale(1);
        opacity: 1;    
    }
}

#hole1{
    transform-origin: 50% 50%;
    animation-name: hole1;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
}
#hole2{
    transform-origin: 50% 50%;
    animation-name: hole2;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    animation-timing-function: linear;
}
#hole3{
    transform-origin: 50% 50%;
    animation-name: hole3;
    animation-iteration-count: infinite;
    animation-duration: 35s;
    animation-timing-function: linear;
}

@keyframes hole1 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes hole2 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes hole3 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.titleHome{
    overflow-y: hidden;
    bottom: 2em;
    width: 50em;
    position: absolute;
    animation-name: textHole;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
}

@keyframes textHole {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    60%{
        transform: scale(0);
        opacity: 0;    
    }
    100%{
        transform: scale(1);
        opacity: 1;    
    }
}



.cls-1{fill:#97d101;}.cls-2{fill:#f9ca9a;}.cls-3{fill:#f7e705;}.cls-4{fill:#826006;}.cls-5{fill:#f5e608;}.cls-6{fill:#fdf1ac;}.cls-7{fill:#fdf2ac;}.cls-8{fill:#efd38c;}.cls-9{fill:#f9f4ea;}.cls-10{fill:#aa5d0c;}.cls-11{fill:#f3e716;}.cls-12{fill:#f2d48e;}.cls-13{fill:#dbd77f;}.cls-14{fill:#e8db28;}.cls-15{fill:#3f1e09;}.cls-16{fill:#e9e9dd;}.cls-17{fill:#281f06;}.cls-18{fill:#f4e60e;}.cls-19{fill:#fbf19e;}.cls-20{fill:#503e0c;}.cls-21{fill:#d3ce98;}.cls-22{fill:#d6d445;}.cls-23{fill:#a4d215;}.cls-24{fill:#48360b;}.cls-25{fill:#d6d68a;}.cls-26{fill:#a23f1e;}.cls-27{fill:#452b13;}.cls-28{stroke:#000;stroke-miterlimit:10;}.cls-29{fill:#92daa4;}.cls-30{fill:#05c69d;}.cls-31{fill:#d0cbb2;}.cls-32{fill:#f5e60e;}.cls-33{fill:#f9f6e8;}.cls-34{fill:#d2cdae;}.cls-35{fill:#9f401f;}.cls-36{fill:#6bcbdc;}.cls-37{fill:#a1d9a2;}.cls-38{fill:#f4f2db;}.cls-39{fill:#ccccb8;}.cls-40{fill:#f8f3e1;}.cls-41{fill:#68bc72;}.cls-42{fill:#d4db86;}.cls-43{fill:#cacaab;}.cls-44{fill:#bdc9b7;}.cls-45{fill:#f5e717;}.cls-46{fill:#575d3e;}.cls-47{fill:#dbd35a;}.cls-48{fill:#221c0e;}.cls-49{fill:#d8d423;}.cls-50{fill:#5a4e24;}.cls-51{fill:#372b14;}.cls-52{fill:#d8d244;}.cls-53{fill:#8c7e3e;}.cls-54{fill:#8bd7a0;}.cls-55{fill:#ef290f;}.cls-56{fill:#fefefe;}

.svgRickMorty{
    position: absolute;
    width: 60em;
    bottom: 38%;
    right: 22%;
    margin-right: 2em;
}

#rick{
    /* transform: translateX(-2em); */
    transform-origin: 50% 50%;
    animation-name: rick;
    animation-iteration-count: 1;
    animation-duration: 6s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
}

@keyframes rick {
    0%{
        transform: scale(0);
        opacity: 0;    
        /* transform: translateX(-2em);  */
    }
    74%{
        transform: scale(0);
        opacity: 0;    
    }
    75%{
        transform: scale(0);
        opacity: 1;    
    }
    100%{
        transform: scale(1);
        opacity: 1;    
        /* transform: translateX(-2em); */
    }
}

#morty{
    /* transform: translateX(-2em); */
    transform-origin: 50% 50%;
    animation-name: morty;
    animation-iteration-count: 1;
    animation-duration: 8s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
}

@keyframes morty {
    0%{
        transform: scale(0);
        opacity: 0;    
    }
    74%{
        transform: scale(0);
        opacity: 0;    
    }
    75%{
        transform: scale(0);
        opacity: 1;    
    }
    100%{
        transform: scale(1);
        opacity: 1;    
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 75em;
    animation-name:buttons ;
    animation-iteration-count: 1;
    animation-duration: 8s;
}

.iconoHome img{
    width: 4em;
}

@keyframes buttons {
    0%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}